
ISE201/Applied_Statistics_and_Probability_for_Engineers_7th_eece.pdf
ISE201/Homeworks/ass1/assignment_1.synctex.gz
ISE201/Homeworks/ass2/assignment_2.synctex.gz
ISE201/Homeworks/ass3/assignment_2.synctex.gz
ISE201/Homeworks/ass3/assignment_3.synctex.gz
ISE201/Homeworks/ass4/assignment_4.aux
ISE201/Homeworks/ass4/assignment_4.log
ISE201/Homeworks/ass4/assignment_4.synctex(busy)
ISE201/Homeworks/ass4/assignment_4.synctex.gz
ISE201/python/pyass2/wdbc.data
ISE201/Review Material/Optimization (1).pptx
ISE201/Review Material/Probability I.pptx
ISE201/Review Material/Statistics II.pptx
ISE201/Review Material/Statistics III_final (2).pdf
ISE201/SM (1e).pdf
ISE201/vmls.pdf
